###############################################################################
# Build Output
###############################################################################

build/
*.o
*.d
*.a
*.so
*.so.*
*.out
*.elf

###############################################################################
# Executables
###############################################################################

ledsim

###############################################################################
# Kconfig
###############################################################################

.config
.config.old
auto.conf
include/config.h

###############################################################################
# Editor
###############################################################################

.vscode/
.idea/

*.swp
*.swo
*~

###############################################################################
# OS
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Core Dumps
###############################################################################

core
core.*
vgcore.*

###############################################################################
# Coverage
###############################################################################

*.gcno
*.gcda
*.gcov

###############################################################################
# Clang
###############################################################################

compile_commands.json

###############################################################################
# Temporary
###############################################################################

tmp/
.cache/